.button {
  background: $blue;
  border: none;
  color: white;
  border-radius:0.5; 
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  margin:0;
  max-width: 20%;
  text-decoration: none;

  &:hover {
    background: $blue;
    text-decoration: none;
    color: white;
  }
}

.button--link {
  background: none;

  &:hover {
    background: none;
    text-decoration: none;
    color: white;
  }
}

.button--secondary {
  @extend .button;
  max-width: 50%;
  background: #888888;
}

.button--alt{
  @extend .button;
  max-width: 50%;
}